*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:fantasy
}

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin:0px auto;
    padding:0 2%;
}

html,body{
    height:100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

header{
    height: 200px;
    padding:20px 0;
}

.logo{
    width: 50%;
}

.menu{
    padding-top: 10px;
    width: 60%;
    text-align: left;
}

.menu a{
    color: black;
    text-decoration: none;
    font-weight: bold 15px;
    margin-right: 15px;
}

section.sobre{
    height: calc(100% - 200px);
    position: relative;
}

.extras{
    position: absolute;
    bottom:-190px;
    right:-190px;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background-color: #017143;
}

.social-media{
    position: absolute;
    right: 200px;
    top: 200px;
}

.social-media img{
    display: block;
    width: 20px;
    margin: 20px 0;
}

.texto-sobre{
    margin-top: 100px;
}

.texto-sobre h1{
    font-size: 50px;
}

.texto-sobre button{
    border: 0;
    background-color: #017143;
    color: white;
    border-radius: 10px;
    width: 80px;
    height: 30px;
    cursor: pointer;
}